
<div class="navbar">
  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> خانه</a>
  <a href="#"><i class="fa fa-fw fa-search"></i> درباره ما</a>
  <a href="#"><i class="fa fa-fw fa-envelope"></i> تماس با ما</a>
  <!-- <a href="#"><i class="fa fa-fw fa-user"></i> Login</a> -->
</div>